.scroll-horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}

.list-inline {
    padding: 0px 0px;
}

.list-inline {
    white-space: nowrap;
}

.panel-scroll {
    padding-left: 0px;
    padding-right: 0px;
}