/* Group scrolling styles
-------------------------------------------------- */
.scroll-horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}

.list-inline {
    padding: 0px 10px;
    white-space: nowrap;
}

.panel-scroll {
    padding-left: 0px;
    padding-right: 0px;
}

/* Group hover styles
-------------------------------------------------- */
.highlighted_product {
    position: relative;
    overflow: hidden;
    width: 180px;
}

.highlighted_product .caption {
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    z-index: 2;
}

.highlighted_product .caption a:hover {
  text-decoration:none;
}