.modal-black .modal-content {
  background-color: black;
}

.modal-black p {
	color: white;
}

.modal-white .modal-content {
  background-color: white;
}

.modal-black-bg {
    background-color: black;
}