{% extends "achievements/base.html" %}
{% load staticfiles %}

{% block title %}Competitors{% endblock title %}

{% block heading %}
    <h1 class="text-center">
        Deelnemerslijst<br>
        <small>Surf naar komendrinken.be</small>
    </h1>
{% endblock %}

{% block page %}
    {% if game.start_vote %}
        <div class="alert alert-success" role="alert">
            Er is een timer geactiveerd. 
            De stemming begint automatisch over <span id="countdown"></span>.
        </div>
    {% endif %}
    <div class="row-fluid">
        {% for group in grouplist %}
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ group.0 }}
                            <span class="badge pull-right">{{ group.1 | length }}</span>
                        </h3>
                    </div>
                    <ul class="list-group">
                        {% for competitor in group.1 %}
                            <li class="list-group-item">{{ competitor }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock page %}

{% block script %}
    <script src="{% static 'general/js/countdown.js' %}"></script>
    <script type="text/javascript">
        refresh_rate(3);
    </script>

    <script type="text/javascript">
        {% if game.start_vote %}
            countdown("{{ game.get_remaining_start }}");
        {% endif %}
    </script>
{% endblock %}