{% extends "achievements/base.html" %}
{% load staticfiles %}

{% block title %}Competitors{% endblock title %}

{% block heading %}
    <h1 class="text-center">
        {{ game.achievement.name }}<br>
        <small>Doe mee via komendrinken.be</small>
    </h1>
{% endblock %}

{% block page %}
    <div class="row">
        {% if game.achievement.players <= 5 %}
            <div class="col-md-1">
            </div>
            {% if game.achievement.players <= 4 %}
                <div class="col-md-1">
                </div>
            {% endif %}
                {% if game.achievement.players <= 3 %}
                    <div class="col-md-1">
                    </div>
                {% endif %}
                    {% if game.achievement.players <= 2 %}
                        <div class="col-md-1">
                        </div>
                    {% endif %}
                        {% if game.achievement.players <= 1 %}
                            <div class="col-md-1">
                            </div>
                        {% endif %}
        {% endif %}
        {% for nomination in game.get_players %}
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <strong>{{ nomination.competitor.name }}</strong> 
                        </h2>
                    </div>
                    <div class="panel-body">
                        {% if nomination.competitor.photo_thumb %}
                            <img class="media-object img-responsive" 
                                 src="{{nomination.competitor.photo_thumb.url}}" 
                                 alt="picture of {{ nomination.competitor }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <br>
        <br>
        <h4 class="text-center">{{ game.achievement.description }}</h4>
    </div>

{% endblock page %}

{% block script %}
    <script src="{% static 'general/js/countdown.js' %}"></script>
    <script type="text/javascript">
        refresh_rate(3);
    </script>
{% endblock %}