{% extends "achievements/base.html" %}
{% load staticfiles %}

{% block title %}Competitors{% endblock title %}

{% block heading %}
    <h1 class="text-center">
        {{ game.achievement.hint }}<br>
        <small>Breng je stem uit via komendrinken.be</small>
    </h1>
{% endblock %}

{% block page %}
    {% if game.end_vote %}
        <div class="alert alert-success" role="alert">
            Er is een timer geactiveerd. 
            De stemming eindigt automatisch over <span id="countdown"></span>.
        </div>
    {% endif %}
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ game.get_voting_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ game.get_voting_progress }}%">
            <span class="sr-only">{{ game.get_voting_progress }}% Complete</span>
        </div>
    </div>
     <div class="row-fluid">
        {% for group in grouplist %}
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ group.0 }}
                            <span class="badge pull-right">{{ group.0.get_victories }} titels</span>
                        </h3>
                    </div>
                    <ul class="list-group">
                        {% for nomination in group.1 %}
                            <li class="list-group-item">
                                {{ nomination.competitor }}
                                <span class="badge pull-right">
                                    {{ nomination.competitor.get_victories }} / 
                                    {{ nomination.competitor.get_played_games }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock page %}

{% block script %}
    <script src="{% static 'general/js/countdown.js' %}"></script>
    <script type="text/javascript">
        refresh_rate(3);
    </script>
    <script type="text/javascript">
        {% if game.end_vote %}
            countdown("{{ game.get_remaining_end }}");
        {% endif %}
    </script>
{% endblock %}