{% extends "achievements/base.html" %}
{% load staticfiles %}

{% block title %}Competitors{% endblock title %}

{% block heading %}
    <h1 class="text-center">
        Wall of Fame<br>
        <small>Doe mee via komendrinken.be</small>
    </h1>
{% endblock %}

{% block page %}
    <div class="row">
        {% for group in groups %}
            <div class="col-md-4">
                <div class="well">
                    {{ group }}
                    <span class="badge pull-right">{{ group.get_victories }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for competitor in competitors %}
            {% with titles=competitor.get_titles %}
            {% if titles %}
                <div class="col-md-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <strong>{{ competitor.name }}</strong> 
                            </h2>
                        </div>
                        <div class="panel-body">
                            {% if competitor.photo_thumb %}
                                <img class="media-object img-responsive" 
                                     src="{{competitor.photo_thumb.url}}" 
                                     alt="picture of {{ competitor }}">
                            {% endif %}
                            {% with titles=competitor.get_titles %}
                                <br>
                                <blockquote>
                                    {% if titles %}
                                        {% for title in titles %}
                                    <p><small>{{ title }}</small></p>
                                        {% endfor %}
                                    {% endif %}
                                </blockquote>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endwith %}
        {% endfor %}
    </div>

{% endblock page %}

{% block script %}
    <script src="{% static 'general/js/countdown.js' %}"></script>
    <script type="text/javascript">
        refresh_rate(3);
    </script>
{% endblock %}