{% extends "achievements/base.html" %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock title %}

{% block heading %}
    <h1 class="text-center">
        Dashboard
    </h1>
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <div class="page-header">
                        <h2>Deelnemers</h2>
                    </div>
                    {% for group in grouplist %}
                        <div class="panel-group" id="accordion" role="tablist">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading{{ group.0.pk }}">
                                    <h3 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ group.0.pk }}" aria-expanded="false"
                                           aria-controls="collapse{{ group.0.pk }}">
                                            {{ group.0 }}
                                            <span class="badge pull-right">{{ group.1 | length }}</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse{{ group.0.pk }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ group.0.pk }}">
                                    <ul class="list-group">
                                        {% for competitor in group.1 %}
                                            <li class="list-group-item">
                                                {{ competitor }}
                                                {% if competitor.excluded %}
                                                    <span class="label label-warning ">Excluded</span>
                                                {% endif %}
                                                {% if competitor.blocked %}
                                                    <span class="label label-danger">Blocked</span>
                                                {% endif %}
                                                {% if competitor.photo_thumb %}
                                                    <a rel="popover" data-img="{{ competitor.photo_thumb.url }}" class="pull-right">
                                                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                                    </a>
                                                {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#competitorModal">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Deelnemer toevoegen
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <div class="page-header">
                        <h2>{% block header %}{% endblock %}</h2>
                    </div>
                    {% block content %}
                    {% endblock %}
                </div>  
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="competitorModal" tabindex="-1" role="dialog" aria-labelledby="competitorModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="competitorModalLabel">Nieuwe deelnemer</h3>
                </div>
                <div class="modal-body">
                    {% include "achievements/signupform.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock page %}

{% block script %}
    <script type="text/javascript">
        $('#competitorModal').on('show.bs.modal', function (event) {
            $(this).find('#source').val("dashboard")
        })
    </script>

    <script src="{% static 'general/js/validator.min.js' %}"></script>
    <script src="{% static 'general/js/fileUpload.js' %}"></script>
    <script src="{% static 'general/js/productsImageHover.js' %}"></script>
{% endblock %}