{% extends "achievements/dashboard/base.html" %}
{% load staticfiles %}

{% block header %}
    Kies het volgende spel
{% endblock %}

{% block content %}
    <div class="list-group">
        {% for achievement in achievements %}
            <a href="{% url 'achievements:newGame' achievement_id=achievement.pk %}" 
               class="list-group-item">
                <h4 class="list-group-item-heading">
                    {% if achievement.get_games == 0 %}
                        <span class="glyphicon glyphicon-star text-primary" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% endif %}
                    {{ achievement }}
                    <span class="glyphicon glyphicon-chevron-right pull-right text-primary" aria-hidden="true"></span>
                </h4>
                <p class="list-group-item-text">
                    <strong>Titel: </strong>{{ achievement.title }} - 
                    <strong>Hint: </strong>{{ achievement.hint }} - 
                    <strong>Gespeeld: </strong>{{ achievement.get_games }}
                </p>
            </a>
        {% endfor %}
    </div>
{% endblock %}