{% extends "achievements/dashboard/base.html" %}
{% load staticfiles %}

{% block header %}
    Nieuw spel: {{ game }}
{% endblock %}
    
{% block content %}
    {% if game.start_vote %}
        <div class="alert alert-success" role="alert">
            Er is een timer geactiveerd. 
            De stemming begint automatisch over <span id="countdown"></span>.
        </div>
    {% endif %}
    <form   class="form-inline"
            action="{% url 'achievements:scheduleVoting' game_id=game.pk %}" 
            method="post" 
            data-toggle="validator">
        {% csrf_token %}

        <div class="form-group">
            <label for="start_vote">Start</label>
            <input type="number"
                   required
                   min=1 
                   class="form-control" 
                   id="start_vote" 
                   name="start_vote" 
                   placeholder="start in minuten">
        </div>
        <div class="form-group">
            <label for="end_vote">Einde</label>
            <input type="number" 
                   min=1 
                   class="form-control" 
                   id="end_vote" 
                   name="end_vote" 
                   placeholder="einde na start">
        </div>
        <button type="submit" class="btn btn-primary">
            Plan stemming
        </button>
        <a href="{% url 'achievements:startVoting' game_id=game.pk %}" role="button" class="btn btn-primary pull-right">
            Start stemming nu
        </a>
    </form>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'general/js/countdown.js' %}"></script>
    
    <script type="text/javascript">
        {% if game.start_vote %}
            countdown("{{ game.get_remaining_start }}");
        {% endif %}
    </script>
{% endblock %}