{% extends "achievements/dashboard/base.html" %}
{% load staticfiles %}

{% block header %}
    Stemming: {{ game }}
{% endblock %}

{% block content %}
    {% if game.end_vote %}
        <div class="alert alert-success" role="alert">
            Er is een timer geactiveerd. 
            De stemming eindigt automatisch over <span id="countdown"></span>.
        </div>
    {% endif %}

    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ game.get_voting_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ game.get_voting_progress }}%">
            <span class="sr-only">{{ game.get_voting_progress }}% Complete</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                <strong>Aantal gestemde deelnemers:</strong> {{ game.get_number_voters }}<br>
                <strong>Aantal stemmen:</strong> {{ game.get_number_votes }}
            </p>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#votingModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Stem uitbrengen
            </button>
        </div>
    </div>
    <form   class="form-inline"
            action="{% url 'achievements:scheduleVoting' game_id=game.pk %}" 
            method="post" 
            data-toggle="validator">
        {% csrf_token %}
        <div class="form-group">
            <label for="end_vote">Einde</label>
            <input type="number" 
                   required
                   min=1 
                   class="form-control" 
                   id="end_vote" 
                   name="end_vote" 
                   placeholder="einde na start">
        </div>
        <button type="submit" class="btn btn-primary">
            Plan einde stemming
        </button>
        <a href="{% url 'achievements:startGame' game_id=game.pk %}" role="button" class="btn btn-primary pull-right">
            Eindig stemming nu
        </a>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="votingModal" tabindex="-1" role="dialog" aria-labelledby="votingModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="votingModalLabel">
                        Stem uitbrengen
                        <small>Je mag 3 personen aanduiden.</small>
                    </h3>
                </div>
                <div class="modal-body">
                    {% include "achievements/votingform.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script type="text/javascript">
        $('#votingModal').on('show.bs.modal', function (event) {
            $(this).find('#source').val("dashboard")
        })
    </script>

    <script src="{% static 'general/js/countdown.js' %}"></script>
    
    <script type="text/javascript">
        {% if game.end_vote %}
            countdown("{{ game.get_remaining_end }}");
        {% endif %}
    </script>
{% endblock %}