{% extends "achievements/dashboard/base.html" %}
{% load staticfiles %}

{% block header %}
    Winnaars: {{ game }}
{% endblock %}

{% block content %}
    <p>Selecteer de winnaars van het spel.</p>
    <form   action="{% url 'achievements:endGame' game_id=game.pk %}" 
            method="post" 
            data-toggle="validator">
        {% csrf_token %}
        {% for player in game.get_players %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="player{{ player.pk }}">
                    {{ player.competitor.name }} <small>({{player.competitor.group}})</small>
                </label>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">
            Bevestig winnaars
        </button>
    </form>

    <br>
    <br>
    <br>
    <dl class="dl-horizontal">
        <dt>Titel</dt>
        <dd>{{ game.achievement.title }}</dd>
        <dt>Beschrijving</dt>
        <dd>{{ game.achievement.description }}</dd>
        <dt>Uitleg</dt>
        <dd>{{ game.achievement.explanation }}</dd>
    </dl>
{% endblock %}