{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "achievements/favicon.html" %}
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Komen Drinken</title>

        <!-- Bootstrap -->
        <link href="{% static 'general/css/styles.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body onload="{% block onload %}{% endblock onload %}">
        <div id="wrap">
            <div class="jumbotron">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 visible-xs-block">
                            <img src="{% static 'general/img/logo.png' %}" width=400 class="img-responsive center-block"/>
                        </div>
                        <div class="hidden-xs">
                            <div class="col-md-4">
                                <img src="{% static 'general/img/logo.png' %}" width=400 class="img-responsive"/>
                            </div>
                            <div class="col-md-4">
                                {% block heading %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if competitor.blocked %}
                <div class="alert alert-danger" role="alert">
                    <p>
                        <strong>Uw deelname is momenteel geblokkeerd!</strong> <br>
                        Deelname onder naam van {{ competitor.name }}.
                    </p>
                </div>
            {% else %}
                <div class="container-fluid">
                    {% block page %}{% endblock page %}
                </div>
            {% endif %}
        </div> <!-- /#wrap -->

        <div id="footer">
            <div class="container-fluid">
                <table>
                    <tr>
                        <td id="copyright">
                            <p class="text-muted credit text-left">
                                <span class="glyphicon glyphicon-copyright-mark"></span> <a href="http://www.fb.com/ScoutingHoboken">Scouting Hoboken</a>
                            </p>
                        </td> <!-- /#copyright -->
                        <td id="address">
                            <p class="text-muted credit text-right">
                                {% if competitor.pk %}
                                    <a  href="#" data-toggle="modal" data-target="#competitorModal">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    </a>
                                {% else %}
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                {% endif %}
                            </p>
                        </td> <!-- /#address -->
                    </tr>
                </table> <!-- /.row -->
            </div>
        </div>
        

        <div class="modal fade" id="competitorModal" tabindex="-1" role="dialog" aria-labelledby="competitorModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="competitorModalLabel">Deelnemer</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            <strong>Naam: </strong>{{ competitor.name }}<br>
                            <strong>Groep: </strong>{{ competitor.group }}<br>
                            <strong>IP: </strong>{{ competitor.ip_source }}
                        </p>
                        {% if competitor.photo_thumb %}
                            <img src="{{ competitor.photo_thumb.url }}" class="img-responsive center-block">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'general/js/bootstrap.js' %}"></script>
        {% block script %}{% endblock %}
    </body>
</html>