{% extends "achievements/base.html" %}
{% load staticfiles %}

{% block title %}No active game{% endblock title %}

{% block page %}
<div class="container">

    <h3 class="text-center">
        Er ging iets mis.
    </h3>
    <br>
    <br>
    <a href="/" role="button" class="btn btn-primary btn-lg center-block" style="margin-left: 50px; margin-right: 50px;">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 
        Start opnieuw
    </a>
    <br>
    <br>
    <p><small>{{ error }}</small> {{ error_text }}</p>
</div> <!-- /container -->
{% endblock page %}