<form id="signUpForm" class="form-signin" action="{% url 'achievements:handleSignUp' %}" method="post" data-toggle="validator" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="name" class="sr-only">Naam</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Naam" value="{{ competitor.name }}" required autofocus>
    </div>
    <div class="form-group">
        <label for="language" class="sr-only">Groep</label>
        <select type="text" class="form-control" id="group" name="group" value="{{ competitor.group }}" required>
        {% if not competitor.group %}
            <option disabled selected value="">-- selecteer je scoutsgroep --</option>
        {% endif %}
        {% for group in groups %}
            <option value="{{ group.pk }}">{{ group }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="document" class="sr-only control-label">Photo</label>
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                    Kies een foto&hellip; <input type="file" name="photo">
                </span>
            </span>
            <input type="text" class="form-control" readonly>
        </div>
    </div>
    <input type="hidden" id="source" name="source">

    <button class="btn btn-lg btn-primary btn-block disabled" type="submit">Deelnemen</button>
</form>