<form id="signUpForm" 
      class="form-signin" 
      action="{% url 'achievements:handleVote' game_id=game.pk %}" 
      method="post" 
      data-toggle="validator">
    {% csrf_token %}
    
    {% if competitors %}
        <div class="form-group">
            <label for="language" class="sr-only">Groep</label>
            <select type="text" 
                    class="form-control" 
                    id="competitor" 
                    name="competitor" 
                    required
                    >
                <option disabled selected value="">-- selecteer de gebruiker --</option>
                {% for player in competitors %}
                    <option value="{{ player.pk }}">{{ player }}
                        {% if player.ip_source %}
                            [Mobile]
                        {% endif %}
                        {% if player.excluded %}
                            [Excluded]
                        {% endif %}
                        {% if player.blocked %}
                            [Blocked]
                        {% endif %}
                </option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    
    {% for nomination in game.get_nominations %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% if nomination.competitor.photo_thumb %}
                    <img class="media-object img-responsive" 
                         src="{{nomination.competitor.photo_thumb.url}}" 
                         alt="picture of {{ nomination.competitor }}">
                {% endif %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="player{{ nomination.pk }}">
                        <strong>{{ nomination.competitor.name }}</strong> 
                        <small>{{nomination.competitor.group}}</small>
                    </label>
                </div>
            </div>
        </div>
    {% endfor %}

    <input type="hidden" id="source" name="source">

    <button class="btn btn-lg btn-primary btn-block disabled" type="submit">Stem uitbrengen</button>
</form>