{% extends "achievements/base.html" %}
{% load staticfiles %}

{% block title %}Stemmen{% endblock title %}

{% block page %}
<div class="container">

    {% if info_message %}
        <div class="alert alert-info" role="alert">
            <p><strong>{{ info_message | safe}}</strong></p>
        </div>
    {% endif %}

    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            <p><strong>{{ error_message | safe}}</strong></p>
        </div>
    {% endif %}
    
    {% if not noForm %}
        <h2 class="form-signin-heading text-center">
            Breng je stem uit<br>
            <small>Je mag 3 personen aanduiden.</small>
        </h2>
        {% include "achievements/votingform.html" %}
    {% endif %}

</div> <!-- /container -->
{% endblock page %}

{% block script %}
    <script src="{% static 'general/js/validator.min.js' %}"></script>
{% endblock script %}